<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">


<hibernate-configuration>
    <session-factory>
        <!-- ✅ Kết nối SQL Server -->
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=example_1;encrypt=true;trustServerCertificate=true</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password">20082005@Ho</property>
        <property name="hibernate.connection.autocommit">true</property>


        <!-- ✅ Cấu hình Hibernate -->
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!-- ✅ Khai báo Entity -->
        <mapping class="Com.company.fashiondesktop.SCHEMACLASS.User"/>
        <mapping class="Com.company.fashiondesktop.SCHEMACLASS.Cart"/>
        <mapping class="Com.company.fashiondesktop.SCHEMACLASS.CartDetail"/>
        <mapping class="Com.company.fashiondesktop.SCHEMACLASS.Order"/>
        <mapping class="Com.company.fashiondesktop.SCHEMACLASS.OrderDetail"/>
        <mapping class="Com.company.fashiondesktop.SCHEMACLASS.PaymentType"/>
        <mapping class="Com.company.fashiondesktop.SCHEMACLASS.Product"/>
        <mapping class="Com.company.fashiondesktop.SCHEMACLASS.PurchaseOrderDetail"/>
        <mapping class="Com.company.fashiondesktop.SCHEMACLASS.PurchaseOrder"/>
        <mapping class="Com.company.fashiondesktop.SCHEMACLASS.Role"/>
        <mapping class="Com.company.fashiondesktop.SCHEMACLASS.ShippingMethod"/>
        <mapping class="Com.company.fashiondesktop.SCHEMACLASS.Supplier"/>
        <mapping class="Com.company.fashiondesktop.SCHEMACLASS.WishList"/>
        <mapping class="Com.company.fashiondesktop.SCHEMACLASS.WishListDetail"/>
        <mapping class="Com.company.fashiondesktop.SCHEMACLASS.City"/>
        <mapping class="Com.company.fashiondesktop.SCHEMACLASS.Country"/>
        <mapping class="Com.company.fashiondesktop.SCHEMACLASS.District"/>
        <mapping class="Com.company.fashiondesktop.SCHEMACLASS.Ward"/>
    </session-factory>
</hibernate-configuration>
